<h1>Listing boats</h1>

<div class="row">

<%= link_to 'New boat', new_boat_path(@boat), class: 'btn' %>
</div>

<table class="table">
  <tr>
    <th>Boat Name</th>
    <th>Goods</th>
    <th></th>
  </tr>

  <% @boats.each do |boat| %>
      <tr>
        <td><%= boat.name %></td>
        <td><%= (boat.goods.map { |a| a.name}).to_sentence %></td>
        <td><%= link_to 'Show', boat_path(boat), class: 'btn btn-flat btn-primary' %>
        <%= link_to 'Edit', edit_boat_path(boat), class: 'btn btn-flat btn-primary' %>
        <%= link_to 'Destroy', boat_path(boat),
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: 'btn btn-flat btn-danger'%></td>
      </tr>
  <% end %>
</table>

