<p>
  <strong>Boat name:</strong>
  <%= @boat.name %>  <%= link_to 'Edit', edit_boat_path(@boat), class: 'btn btn-primary small btn-sm' %>
</p>

<h3>Goods</h3>
<table class="table">
  <tr>
    <th>Goods name</th>
    <th></th>
  </tr>
  <% @boat.goods.each do |good| %>
      <tr>
        <td><%= good.name %></td>
        <td>
          <%= link_to 'Destroy', [good.boat, good],
               method: :delete,
               data: { confirm: 'Are you sure?' },
              class: 'btn btn-danger btn-sm'
          %>
        </td>
      </tr>

  <% end %>

</table>

<h3>Add goods:</h3>
<%= form_for([@boat, @boat.goods.build]) do |f| %>
    <div class="form-inline">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Good name'%>
      <%= f.submit class: 'btn btn-primary' %>
    </div>


<% end %>
<br>
<br>

<%= link_to 'Back', boats_path, class: 'btn btn-primary' %>